[{{ asterisk_transport_pjsip_name | default('transport-udp') }}]
type=transport
protocol={{ asterisk_transport_pjsip_protocol | default('udp') }}
bind={{ asterisk_transport_pjsip_bind_addres | default('0.0.0.0') }}

{% for section in asterisk_pjsip_sections %}
[{{ section.name }}]
type=endpoint
context={{ section.context }}
disallow=all
allow=ulaw
auth={{ section.name }}
aors={{ section.name }}

[{{ section.name }}]
type=auth
auth_type=userpass
password={{ section.password }}
username={{ section.username }}

[{{ section.name }}]
type=aor
max_contacts=1
{% endfor%}
